.wpte-pm-row{
    padding: 20px;
}

.wpte-pm-add-new-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wpte-pm-add-new-area h2{
    font-size: 30px;
    margin: 0;
}

.wpte-pm-add-new-button button{
    background: #F15F64;
    color: #fff;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}
.wpte-pm-add-new-button button:hover{
    background: #be4347;
}

.wpte-pm-add-new-button .dashicons{
    font-size: 20px;
    margin-top: 2px;
}

/* Card */
.wpte-pm-card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    margin-top: 50px;
}
.wpte-pm-card-wrapper .wpte-pm-card{
    background: #fff;
}

.wpte-pm-card-wrapper .wpte-pm-card-header{
    display: flex;
    padding: 20px;
    border-radius: 5px;
}
.wpte-pm-card-wrapper .wpte-pm-plugin-icon-area{
    padding-right: 26px;
}
.wpte-pm-card-wrapper .wpte-pm-card img{
    width: 70px;
}

.wpte-pm-card .wpte-pm-plugin-name{
    font-size: 18px;
    font-weight: 500;
}
.wpte-pm-card .wpte-pm-plugin-slug{
    color: #a7a7a7;
    font-size: 15px;
    margin: 8px 0;
}
.wpte-pm-card .wpte-pm-plugin-version{
    color: #878787;
    font-size: 15px;
    margin: 8px 0;
}

.wpte-pm-card .wpte-pm-card-footer{
    border-top: 1px solid #e7e7e7;
    height: 40px;
}

/* Popup */
.wpte-pm-popup-wrapper{
   position: fixed;
   width: 100%;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   background: #89848473;
   display: flex;
   justify-content: center;
}

.wpte-pm-popup-box{
    height: 385px;
    width: 100%;
    max-width: 450px;
    background: #fff;
    padding: 38px;
    border-radius: 6px;
}